.dashboard{
	background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/daimond_eyes.png");
}

.button-bar{
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: white;

    & + .button-bar{
        margin-top: 7px;
    }

    &:nth-child(2){
        width: 22px!important;
    }
}

.navbar-header .nav-icons {
  padding-top: 12px;
  position: absolute;
  display: inline-block;
  top: 0;
}
.navbar-header .nav-icons span {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px
}
.navbar-header .nav-icons a {
  color: #fff;
  text-decoration: none;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid rgba(0, 0, 0, 0);
    border-left: .3em solid rgba(0, 0, 0, 0);
}

.requirements p {
    font-size: 11px;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    line-height: 11px;
    color: white;
    margin-top: 10px;
}

.nub-gri {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #fff;
    border-radius: 8px;
    height: 85px;
}

.pagination .page-item .page-link {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
    color: #fff;
    background-color: #03585a;
    border: none;
}

.historial-wrapper{
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
}

.upload-area{
    height: auto;
    border-radius: 5px;
}

.bank-item{
    cursor:pointer;
    &:hover{
        background-color:#e2e2e2;
    }
}

.ng-hide.ng-hide-animate {
    display: none !important;
}
