.login-page .card-recover {
    border-radius: 0.25rem;
    padding-bottom: 0.7rem;
    max-width: 500px;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/whitediamond.png);
}