<nav class="navbar navbar-toggleable-md fixed-top" style="background-color:#000!important;margin:0px;" data-nav-image="images/blurred-image-1.jpg">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler-right" data-nav-image="" type="button" data-toggle="collapse" data-target="#example-navbar-info" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
            <a class="navbar-brand" ui-sref="home()" href="#/home" ng-show="!$root.user">
              <img class="hidden-xs" style="width:70%;" src="images/logo-main.png">
              <span class="animated bounceInLeft" style="display: block;position: absolute;font-size: 7px;bottom: 0px;left: 44px;">Créditos online rápidos y seguros</span>
            </a>
            <a class="navbar-brand" ui-sref="dashboard()" ui-sref-opts="{ reload : true}" href="#/dashboard" ng-show="$root.user && $root.user.type == 'CLIENT'">
              <img class="hidden-xs" style="width:70%;" src="images/logo-main.png">
              <span class="animated bounceInLeft" style="display: block;position: absolute;font-size: 7px;bottom: 0px;left: 44px;">Créditos online rápidos y seguros</span>
            </a>
            <a class="navbar-brand" ui-sref="credits({status:'firmado'})" href="#/credits" ng-show="$root.user && ($root.user.type == 'ADMINISTRATOR' || $root.user.type == 'SUPERVISOR') ">
              <img class="hidden-xs" style="width:70%;" src="images/logo-main.png">
              <span class="animated bounceInLeft" style="display: block;position: absolute;font-size: 7px;bottom: 0px;left: 44px;">Créditos online rápidos y seguros</span>
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="example-navbar-info">
            <ul class="navbar-nav">
                <li ng-show="$root.user" class="hidden-md-up" style="position: relative;top: -35px;left: 20px;"><a href="" style="top: 10px;
    position: relative;">{{($root.user.name +' '+ $root.user.last_name)}}
                    <img style="height: 40px;float: left;margin-right: 10px;" ng-show="$root.user.data.picture" ng-src="{{$root.user.data.picture}}">
                    <img style="height: 40px;float: left;margin-right: 10px;" ng-show="!$root.user.data.picture" class="rounded-circle img-raised" ng-src="images/no_avatar.gif">
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user && $root.user.type == 'ADMINISTRATOR' || $root.user.type == 'SUPERVISOR'">
                    <a class="nav-link" href="#/credits" ui-sref="credits({status : 'firmado'})">
                        <p>Solicitudes</p>
                         <span class="badge badge-success" ng-show="result_length > 0">{{result_length}}</span>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user && $root.user.type == 'ADMINISTRATOR' || $root.user.type == 'SUPERVISOR'">
                    <a class="nav-link" href="#/credits" ui-sref="credits({status : 'pendiente_48'})">
                        <p>Pendientes</p>
                         <span class="badge badge-success" ng-show="result_length_pendiente_48 > 0">{{result_length_pendiente_48}}</span>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user && $root.user.type == 'ADMINISTRATOR' || $root.user.type == 'SUPERVISOR'">
                    <a class="nav-link" href="#/credits" ui-sref="credits({status : 'preaprobado'})">
                        <p>pre-aprobados</p>
                        <span class="badge badge-success" ng-show="$root.result_length_preaprobado > 0">{{$root.result_length_preaprobado}}</span>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user && $root.user.type == 'ADMINISTRATOR' || $root.user.type == 'SUPERVISOR'">
                    <a class="nav-link" href="#/credits" ui-sref="credits({status : 'aceptado'})">
                        <p>Aprobados</p>
                         <span class="badge badge-success" ng-show="$root.result_length_aprobado > 0">{{$root.result_length_aprobado}}</span>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user && $root.user.type == 'ADMINISTRATOR' || $root.user.type == 'SUPERVISOR'">
                    <a class="nav-link" href="#/paymens" ui-sref="payments()">
                        <p>Pagos</p>
                        <span class="badge badge-success" ng-show="payments_records.length > 0">{{payments_records.length}}</span>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user && $root.user.type == 'ADMINISTRATOR' || $root.user.type == 'SUPERVISOR'">
                    <a class="nav-link" href="#/clients" ui-sref="clients()">
                        <p>Clientes</p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user && $root.user.type == 'ADMINISTRATOR' || $root.user.type == 'SUPERVISOR'">
                    <a class="nav-link" href="#/administrators" ui-sref="administrators()">
                        <p>Administradores</p>
                    </a>
                </li>
                <li class="nav-item hidden-md-down" ui-sref-active="active" ng-show="$root.user.type == 'CLIENT' && $root.user.data.updated" style="margin-top: 10px;margin-right: 20px;">
                    <a href="#/dashboard" ui-sref="dashboard()" ui-sref="dashboard()" ui-sref-opts="{reload: true}" class="text-muted"><span style="font-size: 25px;" class="fa fa-home"></span></a>
                </li>
                 <li class="nav-item hidden-md-up" ui-sref-active="active" ng-show="$root.user.type == 'CLIENT' && $root.user.data.updated" style="margin-top: 10px;">
                    <a href="#/dashboard" ui-sref="dashboard()" ui-sref="dashboard()" ui-sref-opts="{reload: true}" class="text-white"><span style="font-size: 25px;margin: 0 1.5rem;" class="fa fa-home"></span></a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user.type == 'CLIENT' && !current_credit">
                    <a class="nav-link" href="#/perfil/update/basic" ui-sref="profile.basic()">
                        <p>Mis Datos</p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user.type == 'CLIENT' && $root.user.data.updated && !current_credit">
                    <a class="nav-link" href="#/nuevo-credito" ui-sref="dashboard.new_credit">
                        <p>Nueva Solicitud</p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="$root.user.type == 'CLIENT' && $root.user.data.updated && !current_credit">
                    <a class="nav-link" href="#/historial" ui-sref="dashboard.historial">
                        <p>Historial de préstamos</p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active"  ng-show="($root.user.type == 'CLIENT' && $root.user.data.updated && $root.showCupoMenu)">
                    <a class="nav-link" href="#/cupo" ui-sref="dashboard.cupo">
                        <p>Ampliar cupo de préstamo</p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="!$root.user">
                    <a class="nav-link" ui-sref="about()" href="#/acercade">
                        <i class="now-ui-icons objects_diamond hidden-md-down" style="color: #00989e;"></i>
                        <p>Quiénes somos</p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="!$root.user">
                    <a class="nav-link" ui-sref="how()" href="#/como-empezar">
                        <p>Como solicitar tu préstamo</p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="!$root.user">
                    <a class="nav-link" ui-sref="faq()" href="#/preguntas-frecuentes">
                        <p>Preguntas frecuentes</p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="!$root.user">
                    <a class="nav-link" ui-sref="contact()" href="#/contact">
                        <p>Contáctanos </p>
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-hide="$root.user">
                    <a class="nav-link" ui-sref="login()" href="#/login">
                        <i class="now-ui-icons users_circle-08 hidden-md-down" style="color: #00989e;"></i>
                        <p>Ingresar</p>
                    </a>
                </li> 
                <li class="nav-item hidden-md-up" ui-sref-active="active" ng-show="$root.user.type == 'CLIENT'">
                    <a class="nav-link" ng-click="logout()">
                        <p>Salir</p>
                    </a>
                </li>
                 <div class="pull-right navbar-text hidden-md-down" ng-show="$root.user">
                  <div class="dropdown">
                     <a href="" style="text-decoration: none;" class="dropdown-toggle" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{$root.user.name || $root.user.email}}
                          <img ng-show="$root.user.data.picture" ng-src="{{$root.user.data.picture}}">
                          <img ng-show="!$root.user.data.picture" class="rounded-circle img-raised" ng-src="images/no_avatar.gif">
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="about-us">
                            <a class="dropdown-header">Opciones</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#/dashboard" ui-sref="dashboard()" ng-hide="$root.user.type =='ADMINISTRATOR' || !$root.user.data.updated">Mi préstamo</a>
                             <a class="dropdown-item" href="#/payments" ui-sref="payments()" ng-show="$root.user.type =='ADMINISTRATOR'">Pagos</a>
                             <a class="dropdown-item" href="#/clients" ui-sref="administrators()" ng-show="$root.user.type =='ADMINISTRATOR'">Administradores</a>
                            <a class="dropdown-item" href="#/credits" ui-sref="credits()" ng-show="$root.user.type =='ADMINISTRATOR'">Solicitudes de préstamos</a>
                            <a class="dropdown-item" href="#/recover" ng-hide="$root.user.data._provider == 'FACEBOOK'" ng-click="recover()" >Cambiar contraseña</a>
                            <a class="dropdown-item" href="#" ng-click="logout()" >Salir</a>
                          </div>
                          </a>                   
                  </div>
                </div>
            </ul>
        </div>
    </div>
</nav>