<style>
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 70%; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
<div class="container" style="top: 70px;">
  <div class="row">
    <article >
        <h1>Estaremos de regreso!</h1>
        <div>
            <p style="text-align:justify;">Lamentamos los inconvenientes pero debido a labores de manteniendo para ofrecerles un mejor servicio nuestros servidores estarán fuera de línea mientras se finalizan las labores de mantenimiento. Si tienes alguna duda puedes ponerte en <a href="mailto:soporte@daimont.com">contacto</a>, Nosotros responderemos en breve!</p>
            <br />
            <img src="images/logo.png">
        </div>
    </article>    
  </div>
</div>
